ol {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: decimal;
  background-color: #f9f9f9;
}

li {
  margin: 0.5em 0;
  padding: 0.5em 0;
}

.black {
  background-color: rgb(18, 18, 18);
}